<div class="main_container">

    <div class = "header"></div>
    <div class = "inside_wrapper">

        <div class="forms">
            <div id="location"></div>
            <%= render 'form' %>
        </div>

        <div class="forecast_wrapper">
            <div class="weather_forecast">
                <div class="wrapper">
                    <div class="component">
                        <div id="day"></div>
                            <div id="date"></div>
                        </div>

                    <div class="component">
                        <div id ="temp"></div>
                    </div>
                    <div class="component">
                        <div id="precip"></div>
                        <div id="conds"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map-container">
            <div id="map-canvas"></div>
        </div>
    </div>

    <div class = "footer"></div>

</div>

